<div class="greeting-container-mobile d-none">
  <h2>{{ currentTime }},</h2>
  <span>{{ authService.displayName || "Guest" }}</span>
</div>
<div class="align-center summary-container">
  <div>
    <div class="summary-header">
      <span class="d-none kanban-text-mobile"
        >Kanban Project Management Tool</span
      >
      <h1>Summary</h1>
      <div class="blue-line"></div>
      <span>Everythin in a nutshell!</span>
    </div>

    <div class="first-row-cards">
      <mat-card [routerLink]="['../board']">
        <mat-card-title>{{ totalTasksCount }}</mat-card-title>
        <mat-card-content
          ><span class="font-21">Tasks in<br />Board</span></mat-card-content
        >
      </mat-card>
      <mat-card [routerLink]="['../board']">
        <mat-card-title>{{
          (taskService.allTasksInProgress$ | async)?.length
        }}</mat-card-title>
        <mat-card-content
          ><span class="font-21">Tasks In<br />Progress</span></mat-card-content
        >
      </mat-card>
      <mat-card [routerLink]="['../board']">
        <mat-card-title>{{
          (taskService.allTasksAwaitingFeedback$ | async)?.length
        }}</mat-card-title>
        <mat-card-content
          ><span class="font-21">Awaiting<br />Feedback</span></mat-card-content
        >
      </mat-card>
    </div>

    <div class="middle-row-card">
      <mat-card [routerLink]="['../board']">
        <mat-card-title>
          <img src="assets/img/urgent.png" />{{ urgentTasks }}</mat-card-title
        >

        <div class="grey-line"></div>
        <div class="position-content">
          <span class="font-21 font-weight-700">{{ nextDate }}</span
          ><br /><span class="font-16">Upcoming Deadline</span>
        </div>
      </mat-card>
    </div>

    <div class="last-row-cards">
      <mat-card [routerLink]="['../board']" class="justify-align-center">
        <div class="justify-align-center gap-18">
          <img src="assets/img/to-do.png" />
          <div class="text-center flex-column gap-18">
            <mat-card-title>{{
              (taskService.allTasksToDo$ | async)?.length
            }}</mat-card-title>
            <span class="font-21">To-do</span>
          </div>
        </div>
      </mat-card>
      <mat-card [routerLink]="['../board']" class="justify-align-center">
        <div class="justify-align-center gap-18">
          <img src="assets/img/done.png" />
          <div class="text-center flex-column gap-18">
            <mat-card-title>{{
              (taskService.allTasksDone$ | async)?.length
            }}</mat-card-title>
            <span class="font-21">Done</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="greeting-container flex-column gap-18">
    <h2>{{ currentTime }},</h2>
    <span>{{ authService.displayName || "Guest" }}</span>
  </div>
</div>
