.forgot-password-card {
  height: 462px;
  width: 826px;
  border-radius: 30px;
}

mat-card-actions {
  button {
    height: 51px;
  }
}

@media (max-width: 700px) {
  mat-card-header {
    h1 {
      font-size: 2.9rem !important;
      text-align: center;
    }
  }

.forgot-password-card {
    width: 372px;
    height: 573px;
  }

  mat-card-content {
    align-items: center;
    margin-top: 24px;
  }

  mat-form-field {
    width: 327px;
  }
  
  .btn-container {
    flex-direction: column;
    gap: 21px;

    button {
      font-size: 1rem;
    }
  }
}
