<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-sidenav">
      <img src="assets/img/logo-sidenav.png" />
    </div>

    <ul class="menu-items font-16">
      <li class="mb-12" [routerLink]="[{ outlets: { main: ['summary'] } }]" routerLinkActive="active-link"><mat-icon>dashboard</mat-icon>Summary</li>
      <li class="mt-12" [routerLink]="[{ outlets: { main: ['board'] } }]" routerLinkActive="active-link"><mat-icon>event_note</mat-icon>Board</li>
      <li class="mt-12" [routerLink]="[{ outlets: { main: ['addTask'] } }]" routerLinkActive="active-link"><mat-icon>add_task</mat-icon>Add Task</li>
      <li class="mt-12" [routerLink]="[{ outlets: { main: ['contacts'] } }]" routerLinkActive="active-link"><mat-icon>contacts</mat-icon>Contacts</li>
      <li class="legal-notice" [routerLink]="[{ outlets: { main: ['legalNotice'] } }]" routerLinkActive="active-link"><img src="assets/img/legal_notice_icon.png"><span>Legal notice</span></li>
    </ul>
  </mat-drawer>

  <mat-toolbar class="header">
    <span>Kanban Project Management Tool</span>
  
    <div class="img-container">
      <img [routerLink]="[{ outlets: { main: ['help'] } }]" src="assets/img/help.png">
      <img (click)="openLogoutDialog()" class="profile-picture" src="assets/img/blank-profile-img.png">
    </div>
  </mat-toolbar>

  <div class="router-container">
    <router-outlet name="main"></router-outlet>
  </div>
</mat-drawer-container>


