mat-list {
  position: absolute;
  left: 0;
  top: 89px;
  bottom: 0;
  width: 453px;
  background-color: #ffff;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
}

mat-list-item {
  &:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #f6f7f8;
  }
}

.contact-letter {
  width: 42px !important;
  height: 42px !important;
  border-radius: 100%;
  color: #ffff !important;
}

.email-style {
  text-decoration: unset;
  color: #29abe2;
}

.blue-line {
  width: 0px;
  height: 59px;
  border: 3px solid #29abe2;
}

.contact-content {
  position: absolute;
  left: 453px;
  padding-left: 53px;
  gap: 30px;

  span {
    font-size: 1.7rem;
  }
}

.add-c-btn {
  height: 53px;
  width: 197.77px;
  border-radius: 10px;
  position: absolute;
  bottom: 67px;
  right: 47px;
  transition: ease-in-out 125ms;

  &:hover {
    transition: ease-in-out 125ms;
    background-color: #29abe2 !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.contact-details {
  position: absolute;
  width: 100%;
  top: 120px;

  .contact-details-header {
    gap: 54px;

    h2 {
      font-size: 2.9rem;
    }

    .firstLetter {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      font-size: 2.9rem;
      color: #ffff;
    }
  }

  .contact-information-text {
    margin-top: 21px;
    margin-bottom: 21px;
    display: flex;
    gap: 59px;

    .edit-contact {
      &:hover {
        cursor: pointer;
        color: #29abe2;
      }
    }
  }
}

.gap-22 {
  gap: 22px;
}

.gap-15 {
  gap: 15px;
}