<mat-list>
  <ng-container *ngFor="let letter of getAlphabetLettersWithContacts(); let i = index">
    <div class="pr-48 pl-48">
      <div mat-subheader class="font-21">{{ letter.charAt(0) }}</div>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let contact of getContactsByLetter(letter)">
        <div matListItemIcon class="contact-letter justify-align-center" [style.background-color]="contact.color">
          {{ contact.firstLetter }}
        </div>
        <div matListItemTitle>{{ contact.name }}</div>
        <div class="email-style" matListItemLine>{{ contact.email }}</div>
      </mat-list-item>
    </div>
  </ng-container>
</mat-list>

<div class="contact-content align-center">
  <h1>Contacts</h1>
  <div class="blue-line"></div>
  <span>Better with a team</span>
</div>

<button (click)="openAddContactDialog()" class="main-btn font-21 add-c-btn" mat-raised-button>New contact <mat-icon>person_add</mat-icon></button>
