mat-list {
  position: absolute;
  left: 0;
  top: 89px;
  bottom: 0;
  width: 453px;
  background-color: #ffff;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
}

mat-list-item {
  &:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #f6f7f8;
  }
}

.contact-letter {
  width: 42px !important;
  height: 42px !important;
  border-radius: 100%;
  color: #ffff !important;
}

.email-style {
  text-decoration: unset;
  color: #29abe2;
}

.blue-line {
  width: 0px;
  height: 59px;
  border: 3px solid #29abe2;
}

.contact-content {
  position: absolute;
  left: 453px;
  padding-left: 53px;
  gap: 30px;

  span,
  a {
    font-size: 1.7rem;
  }

  a {
    text-decoration: none;
  }
}

.add-c-btn {
  height: 53px;
  width: 197.77px;
  border-radius: 10px;
  position: absolute;
  bottom: 67px;
  right: 47px;
  transition: ease-in-out 125ms;

  &:hover {
    transition: ease-in-out 125ms;
    background-color: #29abe2 !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.responsive-add-btn {
  display: none;
}

.contact-details {
  position: absolute;
  width: 100%;
  top: 120px;

  .contact-details-header {
    gap: 54px;

    h2 {
      font-size: 2.9rem;
    }

    .firstLetter {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      font-size: 2.9rem;
      color: #ffff;
    }
  }

  .contact-information-text {
    margin-top: 21px;
    margin-bottom: 21px;
    display: flex;
    gap: 59px;

    .edit-contact {
      &:hover {
        cursor: pointer;
        color: #29abe2;
      }
    }
  }
}

.user-email {
  cursor: pointer;
  color: #29abe2;
}

.gap-22 {
  gap: 22px;
}

.gap-15 {
  gap: 15px;
}

@media (max-width: 1400px) {
  .contact-content {
    display: none;
    left: unset;
  }

  .show-contact-content {
    display: flex !important;
  }

  mat-list {
    width: 100%;
    left: 0;
  }

  .contact-details {
    width: 100%;
    top: 0;
    flex: 1;
    margin-top: 100px;
  }

  .hide-list {
    display: none;
  }

  .add-c-btn {
    display: none;
  }

  .responsive-add-btn {
    display: flex;
    position: fixed;
    top: 100px;
  }

  .mt-55 {
    &:first-of-type {
      margin-top: 55px;
    }
  }

  .email-with-phone {
    span,
    a {
      font-size: 1rem !important;
    }
  }
}

@media (max-width: 1000px) {
  .contact-content {
    margin-top: 100px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    span {
      font-size: 1.3rem;
    }
  }

  mat-list {
    top: 69px;
  }

  .blue-line {
    position: absolute;
    top: 140px;
    left: 95px;
    transform: rotate(90deg);
    height: 90px;
  }

  .contact-details {
    margin-top: 240px;

    .contact-details-header {
      gap: 20px;

      h2 {
        font-size: 2.2rem;
      }

      .firstLetter {
        width: 80px;
        height: 80px;
        font-size: 1.7rem;
      }

      .add-task-c-mobile {
        display: flex;
        align-items: center;
        color: #29abe2;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .kanban-title-mobile {
    display: block !important;
    font-size: 1rem;
  }

  .edit-contact {
    display: none;
  }

  .c-mobile-edit-delete-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 55px;
    bottom: 145px;
    gap: 25px;

    .delete-mobile {
      width: 32px;
      height: 32px;
      border-radius: 10px;
      padding: unset;
      cursor: pointer;

      mat-icon {
        color: #2A3647;
      }
    }
    .edit-mobile {
      background-color: #2a3647;
      border-radius: 10px;
      width: 50px;
      height: 50px;

      cursor: pointer;

      mat-icon {
        color: white;
      }
    }
  }
}

@media (max-width: 450px) {
  .contact-content {
    padding-left: unset;
  }

  .c-mobile-edit-delete-btn {
    right: 25px;
    bottom: 110px;
    gap: 10px;
  }

  .blue-line {
    left: 45px;
  }
}
