<mat-list [class.hide-list]="contactService.selectedContact">
  <button
    (click)="openAddContactDialog()"
    class="main-btn font-21 add-c-btn responsive-add-btn"
    mat-raised-button
  >
    New contact <mat-icon>person_add</mat-icon>
  </button>
  <ng-container
    *ngFor="
      let letter of contactService.getAlphabetLettersWithContacts();
      let i = index
    "
  >
    <div class="pr-48 pl-48 mt-55">
      <div mat-subheader class="font-21">{{ letter.charAt(0) }}</div>
      <mat-divider></mat-divider>
      <mat-list-item
        *ngFor="let contact of contactService.getContactsByLetter(letter)"
        (click)="showContactDetails(contact)"
      >
        <div
          matListItemIcon
          class="contact-letter justify-align-center"
          [style.background-color]="contact.color"
        >
          {{ contact.firstLetter }}
        </div>
        <div matListItemTitle>{{ contact.name }}</div>
        <div class="email-style" matListItemLine>{{ contact.email }}</div>
      </mat-list-item>
    </div>
  </ng-container>
</mat-list>

<div
  [class.show-contact-content]="contactService.selectedContact"
  class="contact-content align-center"
>
  <mat-icon (click)="backToContactList()" class="mobile-back-arrow">arrow_back</mat-icon>
  <span class="d-none kanban-title-mobile">Kanban Project Management Tool</span>
  <h1>Contacts</h1>
  <div class="blue-line"></div>
  <span>Better with a team</span>

  <div
    *ngIf="contactService.selectedContact"
    class="contact-details slide-in-dialog"
  >
    <div class="contact-details-header align-center">
      <div
        class="firstLetter justify-align-center"
        [style.background-color]="contactService.selectedContact.color"
      >
        {{ contactService.selectedContact.firstLetter }}
      </div>
      <div class="flex-column">
        <h2>{{ contactService.selectedContact.name }}</h2>
        <span (click)="openAddTaskDialog('To Do')" class="d-none add-task-c-mobile"
          ><mat-icon>add</mat-icon>Add Task</span
        >
      </div>
    </div>
    <div class="contact-information-text">
      <span>Contact Information</span>
      <div (click)="openEditContact()" class="edit-contact">
        <mat-icon>edit</mat-icon><span>Edit Contact</span>
      </div>
    </div>

    <div class="flex-column gap-22 email-with-phone">
      <div class="flex-column gap-15">
        <span class="font-weight-700">Email</span>
        <a
          href="mailto:{{ contactService.selectedContact.email }}"
          class="user-email"
          >{{ contactService.selectedContact.email }}</a
        >
      </div>
      <div class="flex-column gap-15">
        <span class="font-weight-700">Phone</span>
        <span>{{ contactService.selectedContact.phone }}</span>
      </div>
    </div>
  </div>
  <div class="d-none c-mobile-edit-delete-btn">
    <button (click)="deleteContact()" class="delete-mobile">
      <mat-icon>delete</mat-icon></button
    ><button (click)="openEditContact()" class="edit-mobile">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>

<button
  (click)="openAddContactDialog()"
  class="main-btn font-21 add-c-btn"
  mat-raised-button
>
  New contact <mat-icon>person_add</mat-icon>
</button>
