<div class="add-task-container">
  <h1>Add Task</h1>

  <div class="add-task">
    <div class="flex-column">
      <mat-form-field>
        <mat-label>Enter a title</mat-label>
        <input [(ngModel)]="taskService.title" required matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter a Description</mat-label>
        <textarea
          [(ngModel)]="taskService.description"
          required
          matInput
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select task category</mat-label>
        <mat-select [(ngModel)]="taskService.category" required>
          <mat-select-trigger class="align-center">
            <mat-icon
              class="color-circle"
              [style.color]="
                taskService.getCategoryColor(taskService.category)
              "
              >fiber_manual_record</mat-icon
            >
            {{ taskService.getCategoryName(taskService.category) }}
          </mat-select-trigger>
          <mat-option (click)="openAddCategoryDialog()"
            >New Category</mat-option
          >
          <mat-option
            *ngFor="let category of taskService.categories$ | async"
            [value]="category.name"
          >
            <mat-icon [style.color]="category.color"
              >fiber_manual_record</mat-icon
            >{{ category.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select contacts to assign</mat-label>
        <mat-select [(ngModel)]="taskService.selectedContact">
          <mat-option
            *ngFor="let contact of contactService.contacts$ | async"
            [value]="contact.name"
            >{{ contact.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="middle-line"></div>
    <div class="right-side">
      <mat-form-field>
        <mat-label>Due date</mat-label>
        <input
          [(ngModel)]="taskService.date"
          [min]="minDate"
          matInput
          [matDatepicker]="picker"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="prio-btn-container flex-column">
        <span class="font-21 mb-12">Prio</span>
        <mat-button-toggle-group
          class="gap-10 justify-align-center"
          name="prio"
          [(ngModel)]="taskService.selectedPriority"
        >
          <mat-button-toggle
            [ngClass]="{
              'urgent-color': taskService.selectedPriority === 'urgent'
            }"
            class="font-21 justify-align-center"
            value="urgent"
            >Urgent<img src="assets/img/prio-urgent.png"
          /></mat-button-toggle>
          <mat-button-toggle
            [ngClass]="{
              'medium-color': taskService.selectedPriority === 'medium'
            }"
            class="font-21 justify-align-center"
            value="medium"
            >Medium<img src="assets/img/prio-medium.png"
          /></mat-button-toggle>
          <mat-button-toggle
            [ngClass]="{
              'low-color': taskService.selectedPriority === 'low'
            }"
            class="font-21 justify-align-center"
            value="low"
            >Low<img src="assets/img/prio-low.png"
          /></mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <mat-form-field>
        <mat-label>Add new subtask</mat-label>
        <input [(ngModel)]="taskService.subtask" matInput type="text" />
        <div class="confirm-subtask-container">
          <ng-container *ngIf="taskService.isAddingSubtask; else addButton">
            <button mat-icon-button (click)="taskService.confirmSubtask()">
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button (click)="taskService.cancelSubtask()">
              <mat-icon>close</mat-icon>
            </button>
          </ng-container>
          <ng-template #addButton>
            <button
              mat-icon-button
              (click)="taskService.startAddingSubtask()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </ng-template>
        </div>
      </mat-form-field>
      <div class="selectedSubtasks">
        <mat-icon
          (click)="taskService.deleteAllSubtasks()"
          *ngIf="taskService.subtasks && taskService.subtasks.length > 0"
          class="deleteSubtasks"
          >delete</mat-icon
        >
        <li *ngFor="let subtask of taskService.subtasks">
          <mat-checkbox
            [(ngModel)]="taskService.selectedSubtasks[subtask.subtask]"
          >
            {{ subtask.subtask }}
          </mat-checkbox>
        </li>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button
      (click)="addTask()"
      mat-raised-button
      class="main-btn add-task-btn font-21"
    >
      Create Task<mat-icon>add_task</mat-icon>
    </button>
    <button
      (click)="taskService.clearInput()"
      mat-stroked-button
      class="clear-btn font-21"
    >
      Clear<mat-icon>close</mat-icon>
    </button>
  </div>
</div>
