mat-card-actions {
  display: flex;
  justify-content: center;

  button {
    width: 145px;
    height: 51px;
  }
}

@media (max-width: 700px) {
  mat-card-header {
    h1 {
      font-size: 2.9rem !important;
    }
  }

  mat-card {
    width: 372px;
    height: 573px;
  }

  mat-card-content {
    align-items: center;
    margin-top: 24px;
  }

  mat-form-field {
    width: 327px;
  }

  .btn-container {
    flex-direction: column;
    gap: 21px;

    button {
      font-size: 1rem;
    }
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .logo-container {
    position: unset;
  }
}
