<div class="board-header">
  <h1>Board</h1>
  <div class="search-and-btn align-center">
    <input placeholder="Find Task" />
    <button (click)="openAddTaskDialog()" class="main-btn">Add task <img src="assets/img/plus.png" /></button>
  </div>
</div>

<div class="tasks-container">
  <div class="to-do width-250">
    <h2 class="space-between font-21">
      To do <img src="assets/img/plus-button-v1.png" />
    </h2>
    <mat-card (click)="openTaskDetails(task)" class="mb-12" *ngFor="let task of allTasks$ | async">
      <mat-card-header>
        <mat-card-subtitle [style.background-color]="task.categoryColor" class="category text-center font-16"
          >{{ task.category }}</mat-card-subtitle
        >
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle class="description font-16"
          >{{ task.description }}</mat-card-subtitle
        >
      </mat-card-header>
      <div class="progress" *ngIf="task.subtasks.length">
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar
        ><span>1/{{ task.subtasks.length }} Done</span>
      </div>
    </mat-card>
  </div>
  <div class="in-progress width-250">
    <h2 class="space-between font-21">
      In progress <img src="assets/img/plus-button-v1.png" />
    </h2>
  </div>
  <div class="awaiting-feedback width-250">
    <h2 class="space-between font-21">
      Awaiting Feedback
      <img src="assets/img/plus-button-v1.png" />
    </h2>
  </div>
  <div class="done width-250">
    <h2 class="space-between font-21">
      Done
      <img src="assets/img/plus-button-v1.png" />
    </h2>
  </div>
</div>
