<div class="add-contact-container">
  <div class="headline-with-subtitle gap-18 flex-column">
    <img src="assets/img/logo-sidenav.png" />
    <h1>Add contact</h1>
    <div>
      <span>Tasks are better with a team!</span>
      <div class="blue-line"></div>
    </div>
  </div>
  <div class="form-field">
    <mat-icon (click)="closeDialog()" class="close-btn">close</mat-icon>
    <div><img src="assets/img/add-contact.png" /></div>
    <div class="flex-column">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" />
        <mat-icon class="input-icon">person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" />
        <mat-icon class="input-icon">mail</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Enter your phone number" />
        <mat-icon class="input-icon">call</mat-icon>
      </mat-form-field>
      <div class="btn-container">
        <button class="cancel-btn font-21 justify-align-center">
          Cancel <mat-icon>close</mat-icon>
        </button>
        <button class="main-btn create-btn font-21 font-weight-700 justify-align-center">
          Create contact <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
