.remember-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;

  a {
    color: #29abe2;
    text-decoration: none;
  }
}

.btn-container {
  display: flex;
  gap: 51px;

  button {
    width: 173px;
    height: 51px;
    font-size: 1.3rem;
  }
}

.sign-up-container {
  display: flex;
  align-items: center;
  gap: 51px;
  position: absolute;
  right: 114px;
  top: 67px;

  button {
    height: 51px;
    width: auto;
  }
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f6f7f8;
  animation: slideBackground 1.6s ease-in-out;
  opacity: 0;
}

@keyframes slideBackground {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #f6f7f8;
    opacity: 100%;
    z-index: 10;
  }
  50% {
    opacity: 100%;
  }
  100% {
    width: 0;
    height: 0;
    background-color: transparent;
    opacity: 0;
    z-index: -1;
  }
}

.logo-container {
  animation: slideLogo 1s ease-in-out;
}

@keyframes slideLogo {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 80px;
    left: 77px;
  }
}

@media (max-width: 700px) {
  mat-card-header {
    h1 {
      font-size: 2.9rem !important;
    }
  }

  mat-card {
    width: 372px;
    height: 573px;
  }

  mat-card-content {
    align-items: center;
    margin-top: 24px;
  }

  mat-form-field {
    width: 327px;
  }

  .remember-container {
    width: 100%;
    flex-direction: column-reverse;
    gap: 31px;
    align-items: flex-start;
  }

  .btn-container {
    flex-direction: column;
    gap: 21px;

    button {
      font-size: 1rem;
    }
  }

  .sign-up-container {
    top: unset;
    bottom: 32px;
    right: 80px;
    gap: 35px;
  }
}

@media (max-width: 700px) {
  @keyframes slideLogoMobile {
    0% {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    20% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    100% {
      top: 25px;
      left: 25px;
      transform: translate(-50%, -50%);
    }
  }

  .background-container {
    animation: slideBackgroundMobile 1.6s ease-in-out;
  }

  @keyframes slideBackgroundMobile {
    0% {
      width: 100vw;
      height: 100vh;
      background-color: #2a3647;
      opacity: 100%;
      z-index: 10;
    }
    50% {
      opacity: 100%;
    }
    100% {
      width: 0;
      height: 0;
      background-color: transparent;
      opacity: 0;
      z-index: -1;
    }
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .logo-container {
    position: unset;
  }

  .sign-up-container {
    bottom: -65px;
  }
}
