.logout-dialog {
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  color: #cdcdcd;
  border-radius: 20px 0px 20px 20px;

  span {
    &:hover {
      cursor: pointer;
    }
  }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 20px 0px 20px 20px;
}

@media (max-width: 1000px) {
  .logout-dialog {
    span {
      display: block;
    }
  }
}
