<div class="tasks-detail-container">
  <div
    class="category justify-align-center"
    [style.background-color]="task.categoryColor"
  >
    <span>{{ task.category }}</span>
  </div>
  <div class="title-with-description">
    <h2>{{ task.title }}</h2>
    <span>{{ task.description }}</span>
  </div>
  <div class="date align-center">
    <span class="font-weight-700">Due date:</span>
    <span>{{ task.dueDate }}</span>
  </div>
  <div class="priority align-center">
    <span class="font-weight-700">Priority:</span>
    <div [ngClass]="task.prio" class="prio justify-align-center">
      <span>{{ task.prio }}</span>
    </div>
  </div>
  <div class="assigned-to flex-column">
    <span class="font-weight-700">Assigned To:</span>
    <div class="contact-container">
      <div [style.background-color]="contactService.getContactColor(task.contacts)"class="first-letters font-16 justify-align-center">
        {{ getContactInitials(task.contacts) }}
      </div>
      <span>{{ task.contacts }}</span>
    </div>
  </div>
</div>
