body {
  height: 100vh;
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-component-header {
  position: absolute;
  top: 35px;
  gap: 24px;
  align-items: center;

  h1 {
    font-size: 3.8px;
    font-weight: 500;
  }
}

.login-card {
  width: 650px;
  height: 513px;
  border-radius: 30px !important;
  background-color: #ffff;
}

.justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  position: relative;
  top: 70px;
}

mat-form-field {
  width: 422px;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.blue-line {
  border: 3px solid #29abe2;
  width: 150px;
  height: 0px;
  border-radius: 8px;
}

.input-icon {
  position: absolute;
  right: 0;
  bottom: 16px;
}

.logo-container {
  position: absolute;
  top: 80px;
  left: 77px;
}

.blue-left-arrow {
  position: absolute;
  top: 40px;
  left: 37px;
  cursor: pointer;
}

.main-btn {
  color: #ffff !important;
  background-color: #2a3647 !important;
}

.font-16 {
  font-size: 1rem;
}

.font-21 {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.d-none {
  display: none;
}

.font-weight-700 {
  font-weight: 700;
}

.gap-18 {
  gap: 18px;
}

h1 {
  font-size: 3.8rem !important;
  font-weight: 700 !important;
}

.pr-48 {
  padding-right: 48px;
}

.pl-48 {
  padding-left: 48px;
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: #29abe2;
  --mdc-checkbox-selected-hover-icon-color: #29abe2;
  --mdc-checkbox-selected-icon-color: #29abe2;
  --mdc-checkbox-selected-pressed-icon-color: #29abe2;
}

.slide-in-dialog {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.slide-out-dialog {
  animation-name: slideOutRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  100% {
    transform: translateX(100vw);
  }
  0% {
    transform: translateX(0);
  }
}

.add-task-dialog-width {
  width: 1116px !important;
}

.add-c-dialog-height {
  height: 594px;
}

.blue-snackbar {
  --mdc-snackbar-container-color: #2a3647;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

@media (max-width: 1000px) {
  .add-c-dialog-height {
    height: 80% !important;
  }

  .kanban-text-mobile {
    display: block !important;
    font-size: 1rem !important;
  }
}

@media (max-width: 700px) {
  .blue-line {
    width: 88px;
  }

  .logo-container {
    top: 25px;
    left: 25px;
    
    img {
      width: 64px;
    }
  }
}

@media (max-width: 650px) {
  .font-21 {
    font-size: 1rem;
  }

  .font-16 {
    font-size: 0.8rem;
  }

  .dialog-media-height {
    height: 80% !important;
  }
}
