body {
  height: 100vh;
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-component-header {
  position: absolute;
  top: 35px;
  gap: 24px;
  align-items: center;

  h1 {
    font-size: 61px;
    font-weight: 500;
  }
}

.login-card {
  width: 650px;
  height: 513px;
  border-radius: 30px !important;
  background-color: #ffff;
}

.justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  position: relative;
  top: 70px;
}

mat-form-field {
  width: 422px;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.blue-line {
  border: 3px solid #29abe2;
  width: 150px;
  height: 0px;
  border-radius: 8px;
}

.input-icon {
  position: absolute;
  right: 0;
  bottom: 16px;
}

.main-btn {
  color: #ffff !important;
  background-color: #2a3647 !important;
}

.font-16 {
  font-size: 16px;
}

.font-21 {
  font-size: 21px;
}

.logo-container {
  position: absolute;
  top: 80px;
  left: 77px;
}

.blue-left-arrow {
    position: absolute;
    top: 40px;
    left: 37px;
    cursor: pointer;
}